/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
}


.clear {
  clear: both;
}

.cell {
  width: 100px;
  height: 100px;
  float: left;
}

.mainBoard {
  font-size: 3em;
  height: 1100px;
  width: 1100px;
  margin: 0 auto;
}

.miniBoard {
  float: left;
  margin: 25px;
}

.topRow {
  float: left;
}

.tM {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.midRow {
  float: left;
}

.mL {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.mM {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.mR {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.botRow {
  float: left;
}

.bM {
  border-left: 2px solid black;
  border-right: 2px solid black;
  float: left;
}
