/* *{
  border: 1px solid red;
} */

body {
  margin: 0;
}

.titleCont {
  margin: 0 auto;
}

/* Title */
.title {
  font-weight: bold;
  font-size: 2vh;
  text-align: center;
  margin: 50px auto;
  color: #E7DFDD;
}

.mainTitle .title {
  font-size: 3vw !important;
  padding: 100px;
  
}


 /* Menu */
.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;  
  background-color: #0E0B16;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

@-webkit-keyframes noitator {
  from {-webkit-transform: rotate(359deg);}
  to   {-webkit-transform: rotate(0deg);}
}

.square {
  -webkit-animation: rotation 60s infinite linear;
  position: absolute;
  width: 620px;
  height: 620px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #4717F6;
}

.diamond {
  -webkit-animation: noitator 60s infinite linear;

  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #A239CA;
  width: 620px;
  height: 620px;
  transform: rotate(45deg);
}

.circle {
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  width: 625px;
  height: 625px;
  /* background-color: #0E0B16; */
  background-color: #0E0B16;
  border-radius: 50%;
}

.button {
  margin: 160px auto 10px auto;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #E7DFDD;
  padding: 1.5em 2em;
  border: none;
  color: #0E0B16 !important;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  width: 300px;
  border-radius: 100px;
}
.button span {
  position: relative;
  pointer-events: none;
}
.button::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #24296d, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.button:hover::before {
  --size: 300px;
}

.button2 {
  margin: 10px auto;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #A239CA;
  padding: 1.5em 2em;
  border: none;
  color: white !important;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  width: 300px;
  border-radius: 100px;
}
.button2 span {
  position: relative;
  pointer-events: none;
}
.button2::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.button2:hover::before {
  --size: 300px;
}

.button3 {
  margin: 10px auto;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #4717F6;
  padding: 1.5em 2em;
  border: none;
  color: white !important;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  width: 300px;
  border-radius: 100px;
}
.button3 span {
  position: relative;
  pointer-events: none;
}
.button3::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #fcf968, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.button3:hover::before {
  --size: 300px;
}

.btn {
  width: 300px;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

/* playerSelect.jsx  */
.playerSelect {
  height: 200px;
}


/* MainBoard.jsx */
.clear {
  clear: both;
}

.mainBoardCont {
  width: 840px;
  height: 740px;
  margin: 0 auto;
}

.mainBoard {
  font-size: 3em;
  width: 676px;
  margin: 0 auto;
  border-radius: 5%;
}

.miniBoard {
  float: left;
  margin: 25px;
  border-radius: 25%;
}

.border {
  border-radius: 25%;
}

.cell {
  text-align: center;
  width: 50px;
  height: 50px;
}

.c0 {
  float: left;
}

.c1 {
  border-left: 2px solid black;
  border-right: 2px solid black;
  float: left;
}

.c2 {
  float: left;
}

.c3 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  float: left;
}

.c4 {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  float: left;
}

.c5 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  float: left;
}

.c6 {
  float: left;
}

.c7 {
  border-left: 2px solid black;
  border-right: 2px solid black;
  float: left;
}

.c8 {
  float: left;
}


/* ScoreBoard */
.scoreBoard {
  width: 676px;
  margin: 0 auto;
}

.player1 {
  float: left;
}

.player2 {
  float: right;
  text-align: right;
}

.victory {
  width: 360px;
  margin: 0 auto;
}

.backOneCont {
  width: 90px;
  margin: 0 auto;
}

.backOne {
  margin: 0 auto;

}